{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Acceuil
{% endblock %}

{% block content %}
    <nav>
        <a href="/Home/index">index</a>
        <a href="/Item/index">items</a>
    </nav>
{% endblock %}